<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    {{template "navbar" .}}

    <div class="container">
        <h1>{{call .Translate "query_string"}}</h1>
        <p>{{call .Translate "welcome_query_string"}}</p>
        <p>{{call .Translate "example_query_string"}}</p>
        <p>{{call .Translate "thanks"}}</p>
        <ul>
            <li>{{call .Translate "id"}}: {{.Data.id}}</li>
            <li>{{call .Translate "slug"}}: {{.Data.slug}}</li>
        </ul>
    </div>

    {{template "footer" .}}
</body>
</html>