<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    {{template "navbar" .}}
    <main class="container-fluid main-content d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    {{template "alert" .}}
                    <div class="card shadow">
                        <div class="card-header">
                            <p class="mb-0">{{call .Translate "change_password_title"}}</p>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/auth/reset-password">
                                <input type="hidden" name="token" value="{{.Data.token}}">
                                <div class="mb-3">
                                    <label for="password" class="form-label">{{call .Translate "password"}}</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="confirm_password" class="form-label">{{call .Translate "confirm_password"}}</label>
                                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">{{call .Translate "change_my_password"}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{template "footer" .}}
</body>
</html>