<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
    {{template "navbar" .}}
    <main class="container">
        <h1>{{call .Translate "edit_user"}}</h1>
        <form action="/dummyjson/users/update/{{.Data.ID}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label for="name" class="form-label">{{call .Translate "name"}}</label>
                <input type="text" class="form-control" id="name" name="name" value="{{.Data.Name}}" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">{{call .Translate "username"}}</label>
                <input type="text" class="form-control" id="username" name="username" value="{{.Data.Username}}" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">{{call .Translate "email"}}</label>
                <input type="email" class="form-control" id="email" name="email" value="{{.Data.Email}}" required>
            </div>
            <button type="submit" class="btn btn-primary">{{call .Translate "update_user"}}</button>
        </form>
    </main>
    {{template "footer" .}}
</body>
</html>